<div class="page-header">
  <h1>Photo #<%= @photo.id %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Image url</dt>
  <dd><%= @photo.image_url %></dd>

  <dt>Caption</dt>
  <dd><%= @photo.caption %></dd>

  <dt>User</dt>
  <dd><%= @photo.user_id %></dd>

  <dt>Comments</dt>
  <dd><%= @photo.responses %></dd>

</dl>

<form action="http://localhost:3000/create_comment" <div class="form-group">
  <div>
    <label for="content">Create Comment:</label>
    <input id="content" type="text" name="content">
  </div>
    <div>
    <input type="hidden" id="photo_id" type="text" name="photo_id" value="<%= @photo.id %>">
  </div>
  <div>
    <input type="hidden" id="user_id" type="text" name="user_id" value="<%= @photo.user_id%>">
  </div>
  <div>
    <input type="submit" value="Create Comment" class="btn btn-primary">
  </div>
</form>



  <form action="http://localhost:3000/create_favorite">
    <div>
     <input type="hidden" id="photo_id" type="text" name="photo_id" value="<%= @photo.id %>">
  </div>
  <div>
    <input type="hidden" id="user_id" type="text" name="user_id" value="<%= @photo.user_id %>">
  </div>
  <div>
    <input type="submit" value="Update Favorite" class="btn btn-primary">
  </div>
</form>
